:root {
   --dark            : #222;
   --background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2MUFxf/LyMjw/DkyRMGEM1obGz8H8YB0YwEVQAA/EQXvZx97oYAAAAASUVORK5CYII=');
}

body {
   background-image: var(--background-image);
   background-size : 4px;
   font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin          : 0;
}

.container {
   text-align: center;
   padding   : 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   width : fit-content;
   margin: auto;
}

h1 {
   color: #e8e8e8;
}

h2 {
   font-weight: normal;
   padding-top: 10px;
}

h3 {
   border-top : 1px solid;
   font-weight: normal;
   color      : #ee4c4c;
}

#image {
   width          : 180px;
   height         : 180px;
   margin         : 25px auto;
   border-radius  : 50%;
   box-shadow     : 0 0 10px #2b2b2b;
   background     : url(./files/pp.jpg);
   background-size: contain;
}

.contact-info {
   display      : inline-grid;
   background   : #1f1f1f;
   width        : 100%;
   border-radius: 10px;
   box-shadow   : 0 0 10px #2b2b2b;
}



h2:nth-child(1) {
   color: #80d87f;
}

h2:nth-child(4) {
   color: #5da4d9;
}

h2:nth-child(7) {
   color: #fbe960;
}

hr {
   width        : 80%;
   border-color : #4e4e4e;
   border-radius: 50%;
}

.contact-info>div {
   padding-bottom: 10px;
}

.contact-info>div>.buttons {
   padding: 20px 0;
}

.btn::before,
.btn::after {
   background: #1f1f1f !important;
}