html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	background: #171717;
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #222;
	cursor: default
}

.clear {
	clear: both;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: auto;
	margin-bottom: 30px;
}

.mainDetails {
	padding: 25px;
	border-bottom: 2px solid #d52121;
	background: #f3f3f3;
	position: fixed;
	width: calc(90% - 50px);
	max-width: 750px;
	top: 0;
}

#name h1 {
	font-size: 2.2em;
	font-weight: 700;
	font-family: 'Trebuchet MS';
	margin-bottom: -6px;
}

#name h2 {
	font-size: 1.8em;
	color: #d52121;
	font-family: 'Trebuchet MS';
}

#mainArea {
	padding: 0 40px;
	background: white;
	padding-top: 150px
}

#photo {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#photo img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
	font-family: 'Segoe UI';
}

#contactDetails td {
	list-style-type: none;
	font-size: 0.9em;
}

#contactDetails a {
	margin-left: 3px;
}

#contactDetails,
#myp,
tr,
td a,
a[href^=tel],
.sectionContent article {
	color: #444;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails a:hover,
#myRef:hover {
	color: #d52121;
}

#contactTable {
	padding: 3px
}

#contactTable>tbody>tr>td>img {
	vertical-align: bottom;
}

#contactTable>tbody>tr>td {
	text-align: left;
}

#contactTable>tbody>tr:nth-child(3)>td:nth-child(2)>a {
	vertical-align: middle;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Trebuchet MS';
	font-style: italic;
	font-size: 1.5em;
	color: #d52121;
}

.sectionContent h2 {
	font-family: 'Trebuchet MS';
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent article:hover {
	color: #d52121;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15)
}

#myp:hover {
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15)
}

#mLink {
	color: #d52121;
	font-weight: bold;
}


.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) {
	.mainDetails {
		display: flex;
	}

	#name {
		margin: auto 0;
	}

	#contactDetails {
		margin: auto 0;
		margin-left: auto;
	}
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#photo {
		display: none;
	}

	.keySkills {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	.mainDetails {
		width: calc(95% - 50px);
		padding: 0px 25px;
	}

	#photo {
		display: none;
	}

	#name,
	#contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	#contactTable {
		margin: auto;
	}

	.sectionTitle,
	.sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media all and (max-width: 480px) {
	section {
		padding: 15px 0 0;
	}

	.keySkills {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media print {
	#cv {
		width: 100%;
	}
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.instaFade {
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: ease-in;
	animation-name: reset, fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
}

.quickFade {
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: ease-in;
	animation-name: reset, fade-in;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}


.github-icon {
	background-image: url('assets/icons/github.svg');
	height: 10px;
	width: 10px
}